@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: #fff; /* Replace the gradient background with a solid color */
}
.wrapper {
  background-color: #fff;
  height: 100vh;
}

.logoColor {
  background-color: rgb(0, 152, 221);
}

@media only screen and (max-width: 600px) {
  .buttonstyle {
    width: 75%;
  }
}

.Introtext {
  font-weight: 800;
  font-size: 1.6rem;
}
